@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

input, select, option, textArea {
  background-color: white;
  border: none;
  margin: 10px;
  resize: none;
}

input, select {
  width: 30px;
}

button {
  border: none;
  background-color: #f4ce14;
}

body {
  margin: 0;
  padding: 0;
}

Link:visted {
  text-decoration: none;
  color: black;
}